/*********************** TAG SELECTORS **********************/
div{background-color: #EBE1D1;}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
    color: #0D4715;
}

h1{
    margin-top: 0; 
    font-family: 'Sacramento', cursive; 
    font-size: 5.625rem;
    color: #41644A;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #41644A;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
}



/*********************** CLASS SELECTORS **********************/
/*CLASS FOR MULTIPLE INSTANTCES*/
.top-container {
    padding-top: 100px;
    background-color: #EBE1D1;
}
.middle-container{
    
}
.bottom-container{
    color: #E9762B;
    
}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
}
.top-cloud{
    top: 50px;
    right: 300px;
    position: absolute;
}
.skill-row{
    text-align: center;
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.think-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.hobbies-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.contact-me{
    color: #E9762B;
}
.contact-me h2{
    color: #E9762B;
}

/*********************** IDS SELECTORS **********************/
/* ONLY HAVE SINGLE INSTANT OF IDS AND MORE THAN ONE ID*/


